<h1>Dashboard</h1>
<h2><%= @blog.title %></h2>
<h3><%= @blog.subtitle %></h3>
<div>
  <%= link_to 'Edit blog', edit_blog_path(@blog) %>
</div>
<h3>Posts</h3>
<div>
  <%= link_to 'Add post', new_blog_post_path(@blog) %>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <td>Date</td>
        <td>Title</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.publish_date %></td>
        <td><%= post.title %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(@blog, post) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

