<%= render 'layouts/dashboard/toolbar' %>
<hr>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= localize(post.publish_date, :format => :long) %></td>
        <td><%= post.title %></td>
        <td><%= post.status %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(@current_blog, post) %></td>
        <td><%= link_to 'Remove', blog_post_path(@current_blog, post), :method => :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

