<!-- Blog Entries Column -->
<div class="col-md-12">
  <% @posts.each do |post| %>
    <section>
    <h1>
      <%= link_to post.title, site_post_path(post) %>
    </h1>
    <p class="lead">
    by <%= @current_blog.user.name %>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on <%= localize(post.publish_date, :format => :long) %></p>
    <hr>
    <% post_contents = post.content.split('<!--more-->') %>
    <%= markdown(post_contents.first).html_safe %>
    <% if post_contents.count > 1 %>
    <a class="btn btn-primary" href="<%= site_post_path(post) %>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <% end %>

    </section>
    <hr>
    <div class="misc-bar">
      <% if not @current_blog.disqus_key.blank? %>
      <i class="fa fa-comment"></i> <%= link_to 'Comments', "#{site_post_url(post)}#disqus_thread" %>
      <% end %>
    </div>
  <% end %>

  <!-- Pager -->
  <ul class="pager">
    <li class="previous">
    <%= link_to_next_page @posts, sanitize("&larr; Older") %>
    </li>
    <li class="next">
    <%= link_to_previous_page @posts, sanitize("Newer &rarr;") %>
    </li>
  </ul>

</div>
<% content_for :javascript do %>
  <% if not @current_blog.disqus_key.blank? %>
   <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'blogankionnet'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  <% end %>
<% end %>
