<!-- Blog Entries Column -->
<div class="col-md-8">
  <% @posts.each do |post| %>
    <!-- First Blog Post -->
    <h2>
      <%= link_to post.title, site_post_path(post) %>
    </h2>
    <p class="lead">
    by <%= @current_blog.user.name %>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on <%= localize(post.publish_date, :format => :long) %></p>
    <hr>
    <% post_contents = post.content.split('<!--more-->') %>
    <%= markdown(post_contents.first).html_safe %>
    <% if post_contents.count > 1 %>
    <a class="btn btn-primary" href="<%= site_post_path(post) %>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <% end %>

    <hr>
  <% end %>

  <!-- Pager -->
  <ul class="pager">
    <li class="previous">
    <%= link_to_next_page @posts, sanitize("&larr; Older") %>
    </li>
    <li class="next">
    <%= link_to_previous_page @posts, sanitize("Newer &rarr;") %>
    </li>
  </ul>

</div>
