<%= simple_form_for post, 
  :url => (action_name == 'edit' ? blog_post_path(@current_blog, post) : blog_posts_path),
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form do |f| %>
  <%= f.input :publish_date, :as => :string, :input_html => { :value => f.object.publish_date.strftime('%Y-%m-%d %T') } %>
  <%= f.input :title %>
  <%= f.input :content, :as => :hidden %>
  <div class="editor_input well col-sm-9 col-sm-offset-3">
  <%= content_tag :div, post.content, :id => 'editor' %>
  </div>

  <div>
    <%= f.association :categories, collection: @categories, as: :check_boxes, wrapper: :horizontal_radio_and_checkboxes %>
  </div>
  <%= f.submit :class => 'btn btn-primary pull-right', :id => 'submit' %>
<% end %>
<script type="text/javascript">
  $(function () {
      $('#post_publish_date').datetimepicker({
        format: "YYYY-MM-DD hh:mm:ss"
      });
       var editor = ace.edit("editor");
       editor.setShowPrintMargin(false);
       editor.renderer.setShowGutter(false);
       editor.setTheme("ace/theme/github");
       editor.getSession().setMode("ace/mode/markdown");

       var textarea = $('#post_content');
       $('#submit').on('click', function() {
         textarea.val(editor.getSession().getValue());
       });
  });
</script>
