<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : @current_blog.title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : @current_blog.description %>">
    <%= stylesheet_link_tag 'blog_home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
    <header class="header">
      <a href="#sidebar-toggle" id="sidebar-toggle" class="pull-left"><span class="glyphicon glyphicon-list"></span></a>
      <h1 class="page-header">
        <%= link_to @current_blog.title, site_posts_path %>
        <small class="hidden-xs"><%= @current_blog.subtitle %></small>
      </h1>
    </header>
    <!-- Sidebar -->
    <%= render 'layouts/blog/categories' %>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <%= yield %>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <%= render 'layouts/blog/footer' %>

    </div>
    <!-- /.container -->
    </div>
    <%= javascript_include_tag 'blog_site', 'data-turbolinks-track' => true %>
  </body>
</html>
