<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mdwriter" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Mdwriter" %>">
    <%= stylesheet_link_tag 'blog_home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<!-- Navigation -->
    <%= render 'layouts/blog/navigation' %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <%= yield %>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <%= render 'layouts/blog/search' %>

                <!-- Blog Categories Well -->
                <%= render 'layouts/blog/categories' %>

                <!-- Side Widget Well -->
                <%= render 'layouts/blog/widget' %>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <%= render 'layouts/blog/footer' %>

    </div>
    <!-- /.container -->
    <%= javascript_include_tag 'blog_site', 'data-turbolinks-track' => true %>
  </body>
</html>
