<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : Rails.application.secrets.app_name %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Rails.application.secrets.app_name %>">
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/gtm' %>
    <%= render 'layouts/messages' %>
<!-- Navigation -->
    <%= render 'layouts/dashboard/navigation' %>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <%= yield %>

        </div>
        <!-- /.row -->

        <!-- Footer -->
        <%= render 'layouts/dashboard/footer' %>

    </div>
    <!-- /.container -->
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript">filepicker.setKey('<%= @current_blog.filepicker_key %>');</script>
    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
    <%= yield :javascript %>
  </body>
</html>
